@charset "utf-8";
/* ----------------------
          共通
---------------------- */
.wrapper {
  padding: 80px 0;
  position: relative;
  z-index: 0;
}

.back {
  display: block;
  max-width: calc(100vw - 80px);
  width: calc(50vw + 720px);
  height: 100%;
  background-color: #ede2da;
  position: absolute;
  top: 0;
}

.back--left {
  border-radius: 0 40px 40px 0;
  left: 0;
}

.back--right {
  border-radius: 40px 0 0 40px;
  right: 0;
}

.about__inner,
.works__inner,
.skills__inner {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 1300px) {
.sp__inner--left {
  padding-left: 6%;
  }
}


@media screen and (max-width: 1200px) {
  .back  {
    max-width: calc(100vw - 40px);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 0;
  }

  .sp__inner--left {
    padding-left: 20px;
  }

  .sp__inner--right {
    padding-right: 20px;
  }

  .back {
    max-width: calc(100vw - 20px);
  }
}

/* ----------------------
      ローディング画面
---------------------- */
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ede2da;
	z-index: 9999999;
	text-align:center;
	color:#fff;
  display: none;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loading__text {
  font-family: 'antique-olive';
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.25;
  padding-bottom: 15px;
}

.loading__img{
  width: 100px;
  display: inline-block;
  animation:10s linear infinite rotation1;
}

@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .loading__text {
    font-size: 30px;
  }

  .loading__img{
    width: 80px;
  }
}

/* ----------------------
      キービジュアル
---------------------- */
.kv {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.kv,
.kv__img {
  height: 100vh;
  object-fit: cover;
}

.kv__text {
  display: none;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1055px) {
  .kv__text {
    font-size: 28px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .kv__text {
    font-size: 28px;
    top: 30%;
  }
}

/* ----------------------
      メインコンテンツ
---------------------- */
.main-message__contents {
  padding-top: 150px;
}

.main-message__text {
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 2.083;
  text-align: center;
}

.text-deco {
  color: #e95816;
  font-size: 10px;
  font-weight: bold;
}

.slide__text-item {
  margin-top: 100px;
  overflow: hidden;
}

/* .slide__inner {
  width: 883px;
  display: flex;
  padding-inline: 0;
  gap: 100px;
  position: relative;
  animation: flowing 20s linear infinite;
} */

.slide__inner {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-image: url(../images/text.svg);
  background-repeat: repeat-x;
  background-size: 964px 67px;
  animation: slide 30s linear infinite;
}

/* 流れるテキストアニメーション */
@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 0;
  }
}

@media screen and (max-width: 768px) {
  .main-message__contents {
    padding-top: 80px;
  }

  .main-message__text {
    font-size: 18px;
  }

  .slide__text-item {
    margin-top: 70px;
  }

  .slide__inner {
    background-size: 664px 47px;
  }
}

/* ----------------------
         ABOUT
---------------------- */
.about__img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.about {
  margin-top: 120px;
}

.about__contents {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.about-text__contents {
  max-width: 700px;
}

.about__text-name,
.about__text-like {
  font-weight: bold;
}

.about__text-name {
  font-size: 22px;
}

.about__text-like {
  font-size: 18px;
  margin-top: 30px;
}

@media screen and (max-width: 1300px) {
  .about-text__contents {
    width: calc(100% - 380px);
    padding-right: 80px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin-top: 70px;
  }

  .about__contents {
    flex-direction: column;
  }

  .about-text__contents {
    flex-direction: column;
    width: 100%;
    padding-right: 0px;
  }

  .about__img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .about__contents {
    margin-top: 30px;
  }

  .about-text__contents {
    margin-top: 30px;
  }

  .about__text-name {
    font-size: 18px;
  }

  .about__text-like {
    font-size: 16px;
  }
}

/* ----------------------
          WORKS
---------------------- */
.works {
  margin-top: 100px;
}

.works__items {
  display: flex;
  margin: 0 calc(50% - 50vw);
  margin-top: 70px;
}

.slick-slide img{
  width: 575px;
}

.view-btn__img:hover {
  animation:swing 0.8s ease-out;
}

@keyframes swing {
  0%    { transform:translate(0, 0); }
  16.6% { transform:translate(20px, 0); animation-timing-function:ease-in; }
  33.3% { transform:translate(0, 0); }
  50% { transform:translate(20px, 0); animation-timing-function:ease-in; }
  100%  { transform:translate(0, 0); }
}

/* スライダー */
.slider__area {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.slider__area.w300 {
  max-width: 300px;
}

.slick-slide {
  margin: 0 40px;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.slick-dots {
  display: none;
}

.slick-slide {
  transition: all ease-in-out .3s;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.thumb {
  margin: 20px 0 0;
}

.thumb .slick-slide {
  cursor: pointer;
}

.thumb .slick-slide:hover {
  opacity: .7;
}

.full-screen .slick-list {
  overflow: visible;
}
.full-screen.slider {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .works {
    margin-top: 70px;
  }

  .slick-slide {
    margin: 0 15px;
  }

  .slick-slide img {
    width: 295px;
  }
}

/* ----------------------
        SKILLS
---------------------- */
.skills {
  margin-top: 100px;
}

.skills__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 60px;
  padding-left: 125px;
  padding-right: 125px;
}

.box-skill {
  width: 130px;
  height: 130px;
  background-color: #fff;
}

.skill__puzzle {
  width: auto;
  max-width: 840px;
  height: 425px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url(../images/skills-puzzle.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 48px;
}

.skill-text__contents {
  max-width: 380px;
  margin: 0 auto;
}

.skill-text__contents:first-child {
  padding-right: 40px;
}

.skill__sub-title {
  text-align: center;
}

.skill-icon {
  width: 130px;
}

.skill__puzzle-icon {
  margin-top: 15px;
}

.skills__text {
  width: 90%;
  margin: 15px auto 0;
}

.view-btn {
  width: 100px;
  height: 80px;
  margin-top: 40px;
  margin-left: auto;
}

.view-btn__img {
  margin-bottom: 8px;
}

.view-link {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .skill__puzzle {
    margin-right: 6%;
  }
}

@media screen and (max-width: 915px) {
  .skill__puzzle {
    height: auto;
    align-items: center;
    justify-content: space-around;
    background-image: none;
    background-size: cover;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 0;
  }

  .skill-text__contents.design,
  .skill-text__contents.coding{
    position: relative;
    padding: 40px 20px 100px;
    background-color: #fff;
  }
  .skill-text__contents.coding{
    padding-top: 80px;
    margin-top: 10px;
  }
  .skill-text__contents.coding::before{
    position: absolute;
    content: "";
    width: 200px;
    height: 60px;
    background-color: #fff;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  .skill-text__contents.design::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  .skill-text__contents.design::after{
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ede2da;
    bottom: -61px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

@media screen and (max-width: 768px) {
  .skills {
    margin-top: 70px;
  }

  .skill__sub-title {
    font-size: 18px;
  }

  .skills__icons {
    gap: 20px;
    padding: 0 20px;
  }

  .skill-icon {
    width: 80px;
  }

  .skill__puzzle {
    height: auto;
    align-items: center;
    justify-content: space-around;
    background-image: none;
    background-size: cover;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 0;
  }

  .view-btn {
    width: 78px;
    font-size: 12px;
  }

  .design-icon {
    width: 80px;
    height: 91px;
  }

  .code-icon {
    width: 80px;
    height: 70px;
  }

  .skill__puzzle-icon {
    margin: 0 auto;
  }
}